{% extends 'contable/pdf/base_pdf.html' %}
{% load formato_tags %}

{% block title %}Balance Sumas y Saldos PDF{% endblock %}
{% block report_name %}BALANCE DE COMPROBACIÓN DE SUMAS Y SALDOS{% endblock %}

{% block extra_header %}
{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th style="width: 40%">Cuenta Contable</th>
            <th style="width: 15%" class="text-right">Apertura</th>
            <th style="width: 15%" class="text-right">Debe</th>
            <th style="width: 15%" class="text-right">Haber</th>
            <th style="width: 15%" class="text-right">Saldo</th>
        </tr>
    </thead>
    <tbody>
        {% for fila in balance %}
        <tr style="{% if fila.cuenta.imputable == 0 %}color: #2563EB; font-weight: bold;{% endif %}">
            <td>{{ fila.cuenta.codigo|default:fila.cuenta.id }} - {{ fila.cuenta.jerarquia }} - {{ fila.cuenta.cuenta }}</td>
            <td class="text-right">{{ fila.apertura|formato_ar }}</td>
            <td class="text-right">{{ fila.periodo_debe|formato_ar }}</td>
            <td class="text-right">{{ fila.periodo_haber|formato_ar }}</td>
            <td class="text-right font-bold">{{ fila.saldo|formato_ar }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5" class="text-center">No hay movimientos registrados.</td>
        </tr>
        {% endfor %}
        
        {% if balance %}
        <tr class="total-row">
            <td class="text-right italic font-bold">Totales Generales:</td>
            <td class="text-right">{{ context_data.total_apertura|formato_ar }}</td>
            <td class="text-right">{{ context_data.total_debe|formato_ar }}</td>
            <td class="text-right">{{ context_data.total_haber|formato_ar }}</td>
            <td class="text-right">{{ context_data.total_saldo|formato_ar }}</td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}
